/*header starts here */
body{
  color: white;
  margin: 0;
  margin-right: 25px;
  padding:0;
  font-family: "Roboto", sans-serif;
}
/*for header tag*/
header{
  z-index: 1;
  position: fixed;
  background: white;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}
/* our company logo*/
.logo img{
    margin-top: -6px;
    margin-left: 48px;
    padding-top: 4px;
    height: 40px;
    background-color:none;
}

/* For Right side's logout button */
.logout_btn{
  padding: 5px;
  background: #3498DB;
  text-decoration: none;
  float: right;
  margin-top: -40px;
  margin-right: 40px;
  padding-top: 3px;
  height:17px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}
/*button is hovering by mouse motion*/
.logout_btn:hover{
  background: #3498DB;
}
/*our most important sidebar starts here*/
.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 7px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile img{
    padding: 10px;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 80%;
    margin: 0 auto;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color:#ccc;
}
/*for dashboard, table & timer*/
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 35px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

ul, li{
  list-style-type:none;
  margin: 0;
  padding: 0;
}  

.sidebar a:hover{
  background: #3498DB; /*AV DEVS theme color*/
}

/*code to change background color*/
li > a:focus {
  background-color: rgba(137, 140, 141, 0.815);
}

.sidebar i{
  padding-right: 10px;
}
/* for sidebar button starts here */
label #sidebar_btn{
  z-index: 1;
  color: black; 
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
 /*checkbox is hovering*/
label #sidebar_btn:hover{
  color: #3498DB;
}
/*this is why we slide the sidebar and moves on given position*/
#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.content .card p{
  background: #fff;  
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}
/* Responsive CSS */
@media screen and (max-width: 780px)
{
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .active{
    display: block;
  }
}

.line{
    border-bottom: 1px solid white;
    font-size: 10px;
    text-align: center;
}

/*FOR A 1st TOGGLE STARTS HERE*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/*assigning one line which is slider to create space to makeover toggle*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21f34f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21f34f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders to be look like toggle design */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*FOR A 2nd TOGGLE STARTS HERE*/
.switchs2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchs2 input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/*assigning one line which is slider to create space to makeover toggle*/
.sliders2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliders2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliders2 {
  background-color: rgb(255, 115, 0);
}

input:focus + .sliders2 {
  box-shadow: 0 0 1px rgb(255, 115, 0);
}


input:checked + .sliders2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders to be look like toggle design */
.sliders2.round {
  border-radius: 34px;
}

.sliders2.round:before {
  border-radius: 50%;
}


/*Providing space to toggles*/
.container{
  height: 75px;
  width: 100%;
}   
/*printing timer*/
#display{
  padding-top: 16px;
  color: #ffffff;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin: 0px auto;
}

#display1{
  padding-top: 15.5px;
  color :#21f34f;
  width : 100%;
  font-size: 14px;
  text-align: center;
  margin: 0px auto;
}

